// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'robotoregular', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

// Colors

    // Theme (th-name)

    $th-darkgray: #121212;
    $th-gray: #222222;
    $th-lightergray: #333333;
    $th-lightertolightgray: #4b4b4b;
    $th-lightgray: #999999;
    $th-whitegray: #b1b2b5;
    $th-orange: #f55c20;
    $th-yellow: #f89406;
    $th-blue: #064779;
    $th-red: #b94a48;
    $th-green: #5cb85c;
    $th-purple: #702963;

    // Text (t-name)

    $t-white: #fffee8;

    // Scrollbar (sb-name)

    $sb-bar: #777777;
    $sb-background: #0a0a0a;
